<div class="loggedUser">
    <div class="btn-group">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{firstChar}}
      </button>
      <div class="dropdown-menu dropdown-menu-right">
         <a class="dropdown-item" href="#">{{username}}</a>
         <a class="dropdown-item" href="#">My Account</a>
         <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>