<div class="container p-2">
    <div class="d-flex flex-row">
        <div class="col-md-6 p-2 pt-5 pricing_card my-auto">
             <h6>Weekly Plan</h6>
             <h4>20 INR</h4>
             <button type="button" class="btn btn-success mt-2" (click)="checkOut()">Subscribe</button>
         </div>
        <div class="col-md-6 p-2 pt-5 pricing_card">
            <h6>Monthly Plan</h6>
            <h4>100 INR</h4>
            <button type="button" class="btn btn-success mt-2" (click)="checkOut()">Subscribe</button>
        </div>
    </div> <!-- Row ends here -->
    
</div> <!-- Container ends here -->
