<div class="container pt-5">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto signup-col">
        <h3 class="text-center">Sign up</h3>
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form
          name="sentMessage"
          class="text-center"
          id="contactForm"
          novalidate
        >
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                id="name"
                required
                data-validation-required-message="Please enter your name."
              />
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email Address</label>
              <input
                type="email"
                class="form-control"
                placeholder="Email Address"
                id="email"
                required
                data-validation-required-message="Please enter your email address."
              />
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="form-group floating-label-form-group controls">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              id="email"
              required
              data-validation-required-message="Please enter your Passowrd."
            />
            <p class="help-block text-danger"></p>
          </div>

          <div class="form-group floating-label-form-group controls">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Retype your Password"
              id="email"
              required
              data-validation-required-message="Please retype your Passowrd."
            />
            <p class="help-block text-danger"></p>
          </div>

          <br />
          <div id="success"></div>
          <button
            type="submit"
            class="btn btn-primary"
            id="sendMessageButton"
          >
            Register
          </button>
        </form>
      </div>




    </div>


    <footer>

        <div class="row">
          <div class="col-md-12 text-center">
            <a [routerLink]="['/home']">Home</a>   | <a [routerLink]="['/login']">Login</a> | Contact us
          </div>
        </div>


      </footer>

  </div>
