<div class="container pt-5">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto signup-col">
        <h3 class="text-center">Sign up</h3>
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form
          name="signUpForm"
          class="text-center"
          id=""
          novalidate
          (ngSubmit)="onSubmit(signUpForm)"
          #signUpForm = "ngForm"

        >
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Name"
                id="name"
                ngModel
                #name="ngModel"
                name="name"
                required
                data-validation-required-message="Please enter Name."
              />

              <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger">
                     <div *ngIf="name.errors.required">
                         Name is required.
                    </div>
                    <div *ngIf="name.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>
              </div>

            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email Address</label>
              <input
                type="email"
                class="form-control"
                placeholder="Email Address"
                ngModel
                #email="ngModel"
                name="email"
                required
                email
                data-validation-required-message="Please enter your email address."
              />
              <p class="help-block text-danger" *ngIf="!email.valid && email.touched">
                Please enter valid email address.
              </p>
            </div>
          </div>

          <div class="form-group floating-label-form-group controls">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              ngModel
              #password="ngModel"
              name="password"
              required
              minlength="8"
              data-validation-required-message="Please enter your Passowrd."
            />

            <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
        
          <div *ngIf="password.errors.required">
            Password is required.
          </div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 8 characters long.
          </div>
          </div>
          </div>

          <br />
          <div id="success"></div>
          <button
            type="submit"
            class="btn btn-primary"
            id="sendMessageButton"
            [disabled]="!signUpForm.form.valid"
          >
            Register
          </button>
        </form>
      </div>




    </div>


    <footer>

        <div class="row">
          <div class="col-md-12 text-center">
            <a [routerLink]="['/home']">Home</a>   | <a [routerLink]="['/login']">Login</a> | Contact us
          </div>
        </div>


      </footer>

  </div>
