
    .circle {
        width: 25px;
        height:25px;
        background:#fff;
        border-radius: 50%
      }

      .name{

          width: 100%;
          height: 100%;
          color: black;
          font-size: 18px;
      }

      .btn-secondary{
          width: 25%;
          color: brown !important;
          background-color:transparent !important;
          border-color: transparent !important;
      }
      .show>.btn-secondary.dropdown-toggle:focus
      {
        box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0.5) !important;
      }
      .dropdown-menu{
          top:80% !important;
      }